<!DOCTYPE html>
<html>
<head>
    <title>AI Gallery Sorter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>📸 AI 갤러리 정리</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button>업로드</button>
    </form>

    {% if filename %}
        <div class="img-box">
            <h3>업로드 이미지</h3>
            <img src="/uploads/{{ filename }}" width="250">
        </div>
    {% endif %}

    {% if result %}
        <div class="result">
            📁 분류 결과: <b>{{ result }}</b>
        </div>
    {% endif %}

</div>

</body>
</html>
